{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block idpage %}modif{% endblock %}
{% block classpage %}formulaire label{% endblock %}

{% block header2 %}{% endblock %}

{% block body  %}
    <h1>Modification de votre profil</h1>



    {{ form_start(form) }}
    <br>

    <div class="prenom input">
        {{ form_row(form.firstname, {'label':'Prénom','attr': {'placeholder':'Prénom...'}}) }}
    </div>
    <div class="nom input">
        {{ form_row(form.lastname, {'label':'Nom','attr': {'placeholder':'Nom...'}}) }}
    </div>
    <div class="naissance input">
        {{ form_row(form.birthday, {'label':'Date de naissance','attr': {'placeholder':'Date de naissance'}}) }}
    </div>
    <div class="psw input">
        {{ form_row(form.password, {'label':'Mot de passe','attr': {'placeholder':'Mot de passe...'}})}}
    </div>

    {{ form_end(form) }}

    <div class="bas">
        <div class="requin">
            <img src="{{asset('img/requin.svg')}}" alt="megalodon">
        </div>

    
    </div>

{% endblock %}