{% extends 'base2.html.twig' %}

{% block title %}Jouer ! {% endblock %}

{% block body %}
<form action="{{ path('create_game') }}" method="post">
    <div>
        Moi
    </div>

    <div>
        <label for="user2">Contre :</label>
        <select name="user2" id="user2">
            <option value="">Choisir le joueur 2</option>
            {% for user in users|filter(user => user.id != app.user.id) %}
                <option value="{{ user.id }}">{{ user.display }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit">Commencer la partie</button>

</form>

    <h1>Reprendre une partie</h1>
    <div  id="jeux">
        {% for game in en_cours %}
        <p>Crée le {{ game.created | date("m/d/Y") }}</p>
        {% if game.user1.id == app.user.id %}
        <p>{{ game.user2.firstName }} {{ game.user2.lastName }}</p>
      {% else %}
        <p>{{ game.user1.firstName }} {{ game.user1.lastName }}</p>
        {% endif %}
        <a href="{{ path('show_game',{game: game.id}) }}">Reprendre</a>
    </div>
 {% endfor %}

{% endblock %}
