{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block idpage %}profil{% endblock %}
{% block classpage %}formulaire{% endblock %}

{% block header2 %}{% endblock %}

{% block body %}

    {% for message in app.flashes('message') %}
        <h2 style="color: green;">{{ message }}</h2>
    {% endfor %}
    <h1>Profil {{ user.firstName }}</h1>

    <div class="profil">
        <section class="image">
            <img src="{{asset('img/profil.png')}}" alt="img profil">
        </section>
        <section class="infos">
            <p>
                <strong>prenom: </strong>
                {{ user.firstName}}
            </p>
            <p>
                <strong>nom: </strong>
                {{ user.lastName}}
            </p>
            <p>
                <strong>email: </strong>
                {{ user.email}}
            </p>
            <p>
                <strong>Date de naissance: </strong>
                {{ user.birthday|date("m/d/Y")}}
            </p>
            <button type="submit" class="btn btn-success"><a id="mod" href="{{ path('app_modification') }}">modifier le profil</a></button>
        </section>
    </div>

    <div class="tableau">
        <div>
            <section>Victoires</section>
            <section>{{ stats.victoires }}</section>
        </div>
        <div>
            <section>Défaites</section>
            <section>{{ stats.defaites }}</section>
        </div>
        <div>
            <section>Nombre de parties</section>
            <section>{{ stats.parties }}</section>
        </div>
    </div>

    <!-- <strong>Victoires</strong>
    <div>{{ stats.victoires }}</div>

    <strong>Défaites</strong>
    <div>{{ stats.defaites }}</div>

    <strong>Nombre de parties</strong>
    <div>{{ stats.parties }}</div> -->

    <div class="bas">
        <!-- <div class="requin">
            <img src="{{asset('img/requin.svg')}}" alt="megalodon">
        </div> -->

        <div class="lien">
            <a href="{{ path('new_game') }}">
                <span>JOUER</span>
                <img src="{{asset('img/epee.svg')}}" alt="">
            </a>
        </div>
    </div>


{% endblock %}
